<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="进行地面数据的管理"/>
    <meta name="author" content="袁佳策&郭虓"/>

    <title>地面数据管理系统 v1.0</title>
    <!--bootstrap core css-->
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <center>
            <input type="button" value="About task" onclick="location.href='task';">
        </center>
    </div>
    <div>
        <center>
            <input type="button" value="About data" onclick="location.href='data';">
        </center>
    </div>
</body>
</html>